In [1]:
void print(Object o) {
    System.out.println(o);
}

### Set

In [2]:
Set<Integer> s = new HashSet<>();
s.add(3);
s.add(2);
s.add(2);
s.add(14);
s.add(1);

true

In [3]:
for (Integer i: s) print(i);

1
2
3
14

In [4]:
s.add(25852);

true

In [5]:
for (Integer i: s) print(i);

1
2
3
25852
14

In [6]:
s = new TreeSet<>();
s.add(3);
s.add(2);
s.add(2);
s.add(14);
s.add(25852);
s.add(1);

true

In [7]:
for (Integer i: s) print(i);

1
2
3
14
25852

In [8]:
new Integer(0) instanceof Comparable

true

In [9]:
s = new LinkedHashSet<>();
s.add(3);
s.add(2);
s.add(2);
s.add(14);
s.add(25852);
s.add(1);

true

In [10]:
for (Integer i: s) print(i);

3
2
14
25852
1

### List

In [11]:
List<Integer> l = new ArrayList<>();
l.add(3);
l.add(2);
l.add(2);
l.add(14);
l.add(1);

true

In [12]:
for (Integer i: l) print(i);

3
2
2
14
1

In [13]:
l = new LinkedList<>();
l.add(3);
l.add(2);
l.add(2);
l.add(14);
l.add(1);

true

In [14]:
for (Integer i: l) print(i);

3
2
2
14
1

### Queue

In [15]:
Queue<Integer> q = new LinkedList<>();
q.add(3);
q.add(2);
q.add(2);
q.add(14);
q.add(1);

true

In [16]:
for (Integer i: q) print(i);

3
2
2
14
1

In [17]:
q.element()

3

In [18]:
q.remove()

3

In [19]:
q.element()

2

In [20]:
q.peek()

2

### Map

In [21]:
Map<Integer,String> m = new HashMap<>();
m.put(1, "one");
m.put(1, "vienas");
m.put(2, "two");
m.put(2, "du");
m.put(3, "three");
m.put(3, "trys");

"three"

In [22]:
for (Map.Entry<Integer,String> e: m.entrySet()) print(e)

1=vienas
2=du
3=trys

In [23]:
m.put(25852, "dvidešimt penki tūkstančiai aštuoni šimtai penkiasdešimt du");
m.put(14, "keturiolika");

null

In [24]:
for (Map.Entry<Integer,String> e: m.entrySet()) print(e)

1=vienas
2=du
3=trys
25852=dvidešimt penki tūkstančiai aštuoni šimtai penkiasdešimt du
14=keturiolika

In [25]:
m = new LinkedHashMap<>(m);

In [26]:
for (Map.Entry<Integer,String> e: m.entrySet()) print(e)

1=vienas
2=du
3=trys
25852=dvidešimt penki tūkstančiai aštuoni šimtai penkiasdešimt du
14=keturiolika

In [27]:
m.put(0, "nulis");

null

In [28]:
for (Map.Entry<Integer,String> e: m.entrySet()) print(e)

1=vienas
2=du
3=trys
25852=dvidešimt penki tūkstančiai aštuoni šimtai penkiasdešimt du
14=keturiolika
0=nulis

In [29]:
m = new TreeMap<>(m);

In [30]:
for (Map.Entry<Integer,String> e: m.entrySet()) print(e)

0=nulis
1=vienas
2=du
3=trys
14=keturiolika
25852=dvidešimt penki tūkstančiai aštuoni šimtai penkiasdešimt du